.card-button {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 12px 10px 0;
  padding: 30px 10px;
  background-color: $color-light;
  transition: .08s ease-in;
  width: 100%;

  @include sp {
    padding: (40 / 375) * 100% (20 / 375) * 100%;
    margin-bottom: 0;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @include sp {
      margin: -10px;
    }

    @include tb {
      margin: -10px;
    }

    &-item {
      padding: 10px;
      width: calc(100%/4);
      padding: 15px;

      @include sp {
        width: calc(100%/2);
      }

      @include tb {
        padding: 10px;
      }

      &:nth-child(2n){
        @include sp {
          padding: 10px 10px 10px 5px;
        }
      }

      &:nth-child(2n + 1){
        @include sp {
          padding: 10px 5px 10px 10px;
        }
      }
    }
  }

  &-icon {
    width: 156px;
    height: 156px;
    margin: 0 auto 19px;
    border-radius: 50%;

    @include sp {
      width: 60%;
      height: auto;
      margin: 0 auto 7px;
    }

    @include tb {
      width: 90%;
      max-width: 156px;
      height: auto;
    }
  }

  &-title {
    margin-bottom: 20px;
    font-size: 1.6rem;
    line-height: (26/16);

    @include sp {
      margin-bottom: (26 / 375) * 100%;
    }
  }

  &-more {
    .button.-sm {
      @include sp {
        max-width: 90%;
      }
    }
  }

  @include hover-border($color-accent01);

  &:hover {
    .button {
      &::before {
        height: 100%;
        right: inherit;
        width: 100%;
        background-color: $color-accent01;;
        right: 0;
        transform-origin: right;
      }
    }
  }
}
