<!-- header -->
<header id="header" class="header">
  <div class="header-inner">
    <div class="header-logo"><a href="/" class="d-flex"><img src="/common/images/logo.png" alt="LOGO" class="-corporate"></a></div>
    <div class="header-entry"><a href="/"><span>CV ボタン</span></a></div>
    <div class="header-ham-menu js-ham-button">
      <span class="header-ham-menu-icon"><span></span></span>
      <span class="header-ham-menu-text">MENU</span>
      <span class="header-ham-menu-text -close">CLOSE</span>
    </div>
    <nav class="header-nav-wrap js-mega-menu">
      <div class="header-nav-top">
        <div class="header-logo"><a href="/" class="d-flex"><img src="/common/images/logo_white.png" alt="LOGO" class="-corporate"></a></div>
      </div>
      <div class="button-block">
        <a href="#" class="button-entry">CV ボタン</a>
      </div>
      <div class="content-inner col-box nav">
        <div class="col-item">
          <ul class="header-nav" data-effect=slide-right-order>
            <li class="header-nav-item">
              <a href="#" class="header-nav-title">MESSAGE<span class="header-nav-title-sub">メッセージ</span></a>
            </li>
            <li class="header-nav-item">
              <a href="#" class="header-nav-title">ABOUT<span class="header-nav-title-sub">××について</span></a>
              <ul class="header-nav-menu" data-effect=slide-right-order>
                <li><a href="#" class="header-nav-menu-link">会社を知る</a></li>
                <li><a href="#" class="header-nav-menu-link">部署を知る</a></li>
                <li><a href="#" class="header-nav-menu-link">仕事を知る</a></li>
                <li><a href="#" class="header-nav-menu-link">数字で見る</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-item">
          <ul class="header-nav" data-effect=slide-right-order>
            <li class="header-nav-item">
              <a href="#" class="header-nav-title">INTERVIEW<span class="header-nav-title-sub">インタビュー</span></a>
              <ul class="header-nav-menu" data-effect=slide-right-order>
                <li><a href="" class="header-nav-menu-link">パーソン1</a></li>
                <li><a href="" class="header-nav-menu-link">パーソン2</a></li>
                <li><a href="" class="header-nav-menu-link">パーソン3</a></li>
                <li><a href="" class="header-nav-menu-link">パーソン4</a></li>
                <li><a href="" class="header-nav-menu-link">パーソン5</a></li>
                <li><a href="" class="header-nav-menu-link">パーソン6</a></li>
                <li><a href="" class="header-nav-menu-link">パーソン7</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-item">
          <ul class="header-nav" data-effect=slide-right-order>
            <li class="header-nav-item">
              <a href="#" class="header-nav-title">WORKS<span class="header-nav-title-sub">実績</span></a>
            </li>
            <li class="header-nav-item">
              <a href="#" class="header-nav-title">TIPS<span class="header-nav-title-sub">技術情報</span></a>
            </li>
            <li class="header-nav-item">
              <a href="#" class="header-nav-title">FAQ<span class="header-nav-title-sub">よくある質問</span></a>
            </li>
            <li class="header-nav-item -notitle">
              <ul class="header-nav-menu" data-effect=slide-right-order>
                <li><a href="" target="_blank" class="header-nav-menu-link -ext">外部サイト</a></li>
                <li><a href="/" target="" class="header-nav-menu-link -ext">外部サイト</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- /.header -->
