<% var page = json.template; %>

<%- include('../common/include/_head', { page }); %>
<%- include('../common/include/_header' , { page }); %>
<!-- main -->
<!-- main -->
<main id="main" class="main-contents">
  <div class="content-header">
    <div class="content-inner">
      <div class="main-heading">
        <h1 class="heading-lv1">TAB SWITCH<span class="heading-sub">タブ切り替え　ダミー</span></h1>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-inner" data-effect="fade-in">
      <div class="tab-block">
        <ul class="tab-list -col2">
          <li class="tab-list-item is-active"><a href="#" class="tab" data-tab-button="tab-01">タブ1</a></li>
          <li class="tab-list-item"><a href="#" class="tab" data-tab-button="tab-02">タブ2</a></li>
        </ul>
      </div>
    </div>
    <section class="content-section culture-section is-active" data-tab-panel="tab-01" data-effect="fade-in">
      <div class="content-inner text-center">
        <h2 class="heading-lv2">タイトル。</h2>
      </div>
      <section class="content-section culture-strength-section">
        <div class="content-inner culture-inner">
          <div class="content-block card-bg">
            <h3 class="heading-lv3" data-effect="fade-in">タイトル。</h3>
            <div class="box-has-image -reverse" data-effect="fade-in">
              <h4 class="heading-lv4 box-title">タイトル。タイトル。タイトル。タイトル。</h4>
              <figure class="image-box" data-effect="visible"><div class="image"><img src="/common/images/dummy/dummy_img01.png" alt=""></div></figure>
              <div class="box-text"><p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p></div>
            </div>
            <div class="box-has-image -reverse" data-effect="fade-in">
              <h4 class="heading-lv4 box-title">タイトル。タイトル。タイトル。タイトル</h4>
              <figure class="image-box" data-effect="visible"><div class="image"><img src="/common/images/dummy/dummy_img01.png" alt=""></div></figure>
              <div class="box-text"><p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p></div>
            </div>
            <div class="box-has-image -reverse mb-0" data-effect="fade-in">
              <h4 class="heading-lv4 box-title">タイトル。タイトル。タイトル。タイトル</h4>
              <figure class="image-box" data-effect="visible"><div class="image"><img src="/common/images/dummy/dummy_img01.png" alt=""></div></figure>
              <div class="box-text"><p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p></div>
            </div>
          </div>
        </div>
      </section>
      <section class="content-section culture-event-section">
        <div class="content-inner culture-inner">
          <h3 class="heading-lv3" data-effect="fade-in">タイトル。</h3>
          <ul class="flexbox -col4" data-effect="slide-up-order">
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img02.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img02.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img02.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img02.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img02.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img02.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img02.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img02.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="content-section culture-environment-section">
        <div class="content-inner culture-inner" data-effect="fade-in">
          <h3 class="heading-lv3">タイトル。</h3>
          <ul class="flexbox -col3" data-effect="slide-up-order">
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img03.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img03.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
            <li class="flexbox-col">
              <div class="image-box">
                <figure class="image">
                  <img src="/common/images/dummy/dummy_img03.png" alt="">
                </figure>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </section><!-- /.culture-section -->
    <section class="content-section culture-section" data-effect="fade-in" data-tab-panel="tab-02">
      <div class="content-inner text-center">
        <h2 class="heading-lv2">タイトル。</h2>
      </div>
      <section class="content-section culture-welfare-section">
        <div class="content-inner culture-inner">
          <div class="card-bg">
            <h3 class="heading-lv3" data-effect="fade-in">リスト</h3>
            <ul class="culture-welfare-list" data-effect="fade-in">
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
              <li class="culture-welfare-list-item">
                <h4 class="heading-lv4">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</h4>
                <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
              </li>
            </ul>
            <section class="content-section culture-ingenuity-section" data-effect="fade-in">
              <h3 class="heading-lv3 box-title">タイトル。タイトル。タイトル。タイトル。タイトル。タイトル。タイトル。</h3>
              <div class="box-has-image -reverse">
                <figure class="image-box" data-effect="visible">
                  <div class="image"><img src="/common/images/dummy/dummy_img03.png" alt=""></div>
                  <div class="image"><img src="/common/images/dummy/dummy_img03.png" alt=""></div>
                </figure>
                <div class="box-text">
                  <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
                  <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
                  <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
                  <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
                  <p class="text">ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section><!-- /.culture-section -->
    <div class="content-inner" data-effect="fade-in">
      <div class="tab-block -footer">
        <ul class="tab-list -col2">
          <li class="tab-list-item is-active"><a href="#" class="tab" data-tab-button="tab-01">タブ1</a></li>
          <li class="tab-list-item"><a href="#" class="tab" data-tab-button="tab-02">タブ2</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<!-- /.main -->
<!-- /.main -->
<%- include('../common/include/_footer', { page }) %>
<%- include('../common/include/_structured-data', { page }) %>
