
.button-list {
  margin: 0 -12px;

  &-item {
    padding: 0 12px;
    display: flex;

    & + & {
      margin-top: 20px;
    }
  }

  $col-min: 2;
  $col-max: 5;

  @for $i from $col-min through $col-max {
    &.col#{$i}-box {
      display: flex;
      flex-wrap: wrap;

      .button-list-item {
        margin-top: 0;
      }
    }
  }

  &.col2-box {
    .button {
      &-list-item {
        width: calc(100% / 2);
        padding: 0 12px;
        justify-content: center;

        @include sp {
          width: 100%;
          text-align: center;
        }

        & + .button-list-item {
          @include sp {
            margin-top: 28px;
          }
        }
      }
    }
  }

  &.col4-box {
    @include sp {
      margin: 0 -9px;
    }

    .button {
      max-width: none;

      &-list-item {
        width: calc(100% / 4);
        padding: 0 12px;

        @include sp {
          width: calc(100% / 2);
          padding: 0 9px;
        }

        &:nth-child(n + 5) {
          @include pc {
            margin-top: 24px;
          }
        }

        &:nth-child(n + 3) {
          @include sp {
            margin-top: 18px;
          }
        }
      }
    }
  }

  &.col3-box {
    @include sp {
      margin: 0 -9px;
    }

    .button {
      max-width: none;

      &-list-item {
        width: calc(100% / 3);
        padding: 0 12px;

        @include sp {
          width: 100%;
          padding: 0 9px;
        }

        &:nth-child(n + 4) {
          @include pc {
            margin-top: 24px;
          }
        }

        &:nth-child(n + 2) {
          @include sp {
            margin-top: 18px;
          }
        }
      }
    }
  }
}
