<% var page = json.template; %>

<%- include('../common/include/_head', { page }); %>
	<%- include('../common/include/_header' , { page }); %>
	<!-- main -->
	<main id="main" class="main-contents">
    <div class="content-header">
      <div class="content-inner">
        <div class="main-heading">
          <h1 class="heading-lv1">MESSAGE<span class="heading-sub">採用メッセージ</span></h1>
        </div>
      </div>
    </div>
    <div class="content">
      <section class="content-section">
        <div class="content-inner">
          <div class="text-block text-center">
            <p class="text-lead">ダミーテキストダミーテキストダミーテキストダミーテキスト</p>
            <p class="text">テキストテキストテキストテキストキストテキストテキストテキストテキストテキストテキストテキスト<br class="pc">
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ<br class="pc">
              ストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテ<br class="pc">
              キストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス</p>
            <p class="text">トテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス<br class="pc">
              トテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p class="text">テキストテキストテキストテキストテキストテキストテキストテキス<br class="pc">
              トテキストテキストテキスト</p>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <h2 class="heading-lv2">求める人物像</h2>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <h3 class="heading-lv3">共感力・責任感</h3>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <h4 class="heading-lv4">共感力・責任感</h4>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <h2>ボタン</h2>
          <div class="button-block">
            <a href="#" class="button -sm -arrow"><span>More</span></a>
          </div>
          <div class="button-block">
            <a href="#" class="button -arrow"><span>More</span></a>
          </div>
          <div class="button-block">
            <a href="#" class="button -lg -arrow"><span>More</span></a>
          </div>
          <div class="button-block">
            <ul class="button-list col2-box">
              <li class="button-list-item"><a href="#" class="button -lg -arrow"><span>More</span></a></li>
              <li class="button-list-item"><a href="#" class="button -lg -arrow ff-ja"><span>社員インタビューを見る</span></a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <div class="button-block">
            <ul class="button-list col3-box">
              <li class="button-list-item"><a href="" class="button -arrow -white"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -white"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -white"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -white"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -white"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -white"><span>More</span></a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <div class="button-block">
            <ul class="button-list col4-box">
              <li class="button-list-item"><a href="" class="button -arrow -yellow"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -yellow"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -yellow"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -yellow"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -yellow"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -yellow"><span>More</span></a></li>
              <li class="button-list-item"><a href="" class="button -arrow -yellow"><span>More</span></a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <div class="link-block">
            <ul class="link-list col4-box">
              <li class="link-list-item"><a href="" class="link -arrow"><span>テキストテキスト</span></a></li>
              <li class="link-list-item"><a href="" class="link -arrow"><span>テキストテキスト</span></a></li>
              <li class="link-list-item"><a href="" class="link -arrow"><span>テキストテキスト</span></a></li>
              <li class="link-list-item"><a href="" class="link -arrow"><span>テキストテキスト</span></a></li>
              <li class="link-list-item"><a href="" class="link -arrow"><span>テキストテキスト</span></a></li>
              <li class="link-list-item"><a href="" class="link -arrow"><span>テキストテキスト</span></a></li>
              <li class="link-list-item"><a href="" class="link -arrow"><span>テキストテキスト</span></a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <div class="box-has-image -reverse">
            <h3 class="heading-lv3 box-title">新しい働き方での創意工夫、テレワーク・在宅勤務の活用</h3>
            <figure class="image-box"><div class="image"><img src="/assets/images/recruit/template/dummy_img01.png" alt=""></div></figure>
            <div class="box-text">
              <p class="text">マックスマウスでは、テレワークやオンラインでのビジネス活動をフルに取り入れつつ、社員が働きやすいように、また、そのための障害を取り除くために、様々な取り組みを行っています。<br>
              社員ごとの仕事と希望に合わせて個別にテレワーク頻度を決め、テレワークを盛り込んだ業務プロセスを作っています。このプロセスや仕組みも、期間がすぎるごとに問題・課題や、もっといいやり方、等が見つかっていきますが、定期的な社員アンケートを行い、必要に応じて調整や改善、困っている人がいればその解決を行うということをどんどん行っています。</p></div>
          </div>
          <div class="box-has-image">
            <h3 class="heading-lv3 box-title">新しい働き方での創意工夫、テレワーク・在宅勤務の活用</h3>
            <figure class="image-box"><div class="image"><img src="/assets/images/recruit/template/dummy_img01.png" alt=""></div></figure>
            <div class="box-text"><p class="text">コミュニケーション不足や他部門と顔を合わせないことによる全社的な情報共有、コラボレーションの低下といった懸念がありましたが、毎日オンラインでのMTGを朝・夕2回（部署により3回）実施したり、月に1回、チーム全員が顔を合わせる日も設定して部門MTGを実施することで解決しました。<br>
              他にも、オンラインツール上に、全社に共有される部門ごとの情報共有チャネルを設け、投稿を行ったりとマックスマウスの強みであるナレッジ共有をさらに強化する取り組みも継続的に実施しています。</p></div>
          </div>
        </div>
      </section>
      <section class="content-section">
        <div class="content-inner">
          <div class="content-block bg-white">
            <div class="table-simple">
              <div class="table-simple-inner">
                <dl class="table-row">
                  <dt class="table-data-title"><div class="data-name"><span class="text">テキスト</span></div></dt>
                  <dd class="table-data-description">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキス</dd>
                </dl>
                <dl class="table-row">
                  <dt class="table-data-title"><div class="data-name"><span class="text">テキスト</span></div></dt>
                  <dd class="table-data-description">
                    <div class="data-description">
                      <p class="text">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト</p>
                    </div>
                  </dd>
                </dl>
                <dl class="table-row">
                  <dt class="table-data-title"><div class="data-name"><span class="text">テキスト</span></div></dt>
                  <dd class="table-data-description">
                    <div class="data-description">
                      <p class="text">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキストテキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキストテキスト。<br>テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト</p>
                      <p class="text">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト</p>
                    </div>
                  </dd>
                </dl>
                <dl class="table-row">
                  <dt class="table-data-title"><div class="data-name"><span class="text">テキスト</span></div></dt>
                  <dd class="table-data-description">
                    <div class="data-description">
                      <p class="text">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト</p>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
	</main>
	<!-- /.main -->
<%- include('../common/include/_footer', { page }) %>
<%- include('../common/include/_structured-data', { page }) %>
