<% var page = json.top; %>

<%- include('./common/include/_head', { page }); %>
	<%- include('./common/include/_header' , { page }); %>
	<!-- main -->
	<main id="main" class="main-contents">
    <div class="content">
      <section class="top-mainvisual">
        <div class="top-mainvisual-inner">
          <div class="top-mainvisual-title-block">
            <h1 class="top-mainvisual-title"><img src="/common/images/mv_title.png" alt="メイン　キャッチコピー" class="pc"><img src="/common/images/mv_title_sp.png" alt="メイン　キャッチコピー" class="sp"></h1>
            <p class="top-mainvisual-title-sub"><img src="/common/images/mv_title_sub.png" alt="メイン　キャッチコピー"></p>
          </div>
        </div>
        <div class="scroll-nav pc"><span>SCROLL</span></div>
        <section class="top-section top-news">
          <div class="content-inner">
            <div class="top-news-inner">
              <div class="top-news-head"><h2 class="heading">NEWS</h2></div>
              <div class="top-news-content">
                <a href="" class="top-news-content-inner">
                  <span class="top-news-content-data">2021年3月1日</span>
                  <p class="top-news-content-text">ニュース！ニュース！ニュース！ニュース！ニュース！ニュース！</p>
                </a>
              </div>
            </div>
          </div>
        </section>
      </section>
      <section class="top-section top-feature" data-effect="fade-in">
        <div class="content-inner">
          <div class="top-feature-inner">
            <h2 class="top-feature-title">キャッチコピーキャッチコピーキャッチコピー</h2>
            <p class="top-feature-lead">リードテキスト。リードテキスト。リードテキスト。リードテキスト。リードテキスト。<br class="pc">
              テキストテキストテキストテキストキストテキストテキスト<br class="pc">
              テキストテキストテキストテキスト</p>
            <div class="button-block">
              <a href="/recruit/message/" class="button -lg -arrow"><span>More</span></a>
            </div>
          </div>
        </div>
      </section>
      <section class="top-section top-about" data-effect="fade-in">
        <div class="content-inner">
          <div class="top-about-inner">
            <h2 class="top-heading-lv1">ABOUT<span class="heading-sub">マックスマウスとは</span></h2>
            <ul class="card-button-list top-about-card-list" data-effect="slide-up-order">
              <li class="card-button-list-item top-about-card-list-item">
                <a href="/recruit/about/profile/" class="card-button">
                  <span></span>
                  <div class="card-button-icon"><img src="/common/images/about_icon04.png" alt=""></div>
                  <p class="card-button-title">タイトル</p>
                  <p class="card-button-more"><span class="button -sm -arrow"><span>More</span></span></p>
                </a>
              </li>
              <li class="card-button-list-item top-about-card-list-item">
                <a href="/recruit/about/" class="card-button">
                  <span></span>
                  <div class="card-button-icon"><img src="/common/images/about_icon01.png" alt=""></div>
                  <p class="card-button-title">タイトル</p>
                  <p class="card-button-more"><span class="button -sm -arrow"><span>More</span></span></p>
                </a>
              </li>
              <li class="card-button-list-item top-about-card-list-item">
                <a href="/recruit/about/business/" class="card-button">
                  <span></span>
                  <div class="card-button-icon"><img src="/common/images/about_icon02.png" alt=""></div>
                  <p class="card-button-title">タイトル</p>
                  <p class="card-button-more"><span class="button -sm -arrow"><span>More</span></span></p>
                </a>
              </li>
              <li class="card-button-list-item top-about-card-list-item">
                <a href="/recruit/about/data/" class="card-button">
                  <span></span>
                  <div class="card-button-icon"><img src="/common/images/about_icon03.png" alt=""></div>
                  <p class="card-button-title">タイトル</p>
                  <p class="card-button-more"><span class="button -sm -arrow"><span>More</span></span></p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="top-section top-interview">
        <span class="top-interview-picture pc"></span>
        <div class="content-inner">
          <div class="top-interview-inner">
            <h2 class="top-heading-lv1" data-effect="fade-in">TITLE<span class="heading-sub">タイトル</span></h2>
            <div class="top-interview-content">
              <ul class="top-interview-list" data-effect=slide-right-order>
                <li class="top-interview-list-item">
                  <a href="" class="top-interview-link">
                    <p class="top-interview-list-type -female">タグタグ</p>
                    <p class="top-interview-list-profile">ダミー。ダミー。ダミー。ダミー。<br>ダミー。 / ダミー。ダミー。</p>
                    <div class="top-interview-list-title-wrap">
                      <p class="top-interview-list-title underline">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。</p>
                    </div>
                  </a>
                </li>
                <li class="top-interview-list-item">
                  <a href="" class="top-interview-link">
                    <p class="top-interview-list-type -male">タグタグ</p>
                    <p class="top-interview-list-profile">ダミー。ダミー。<br>ダミー。ダミー。 / ダミー。ダミー。</p>
                    <div class="top-interview-list-title-wrap">
                      <p class="top-interview-list-title underline">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。</p>
                    </div>
                  </a>
                </li>
                <li class="top-interview-list-item">
                  <a href="" class="top-interview-link">
                    <p class="top-interview-list-type -male">タグタグ</p>
                    <p class="top-interview-list-profile">ダミー。ダミー。ダミー。ダミー。<br>ダミー / ダミー</p>
                    <div class="top-interview-list-title-wrap">
                      <p class="top-interview-list-title underline">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。</p>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="button-block" data-effect="fade-in">
                <a href="/recruit/interview/" class="button -lg -arrow"><span>More</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="top-interview-picture sp"><img src="/common/images/bg_interview_sp.jpg" alt=""></div>
      </section>
      <section class="top-section top-culture">
        <div class="content-inner">
          <div class="top-culture-inner is-visible" data-effect="fade-in">
            <h2 class="fl-left top-heading-lv1 -l">CULTURE<span class="heading-sub">タイトル</span></h2>
            <div class="fl-right top-culture-img is-visible" data-effect="visible"><span class="top-culture-img-wrap"><img src="/common/images/dummy/dummy_img04.png" alt="" class="pc"><img src="/common/images/dummy/dummy_img02.png" alt="" class="sp"></span></div>
            <p class="fl-left top-culture-lead is-visible" data-effect="visible">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。</p>
            <div class="fl-left button-block is-visible" data-effect="visible">
              <a href="/recruit/culture/" class="button -arrow"><span>More</span></a>
            </div>
          </div>
        </div>
      </section>
      <section class="top-section top-career">
        <div class="content-inner">
          <div class="top-career-inner" data-effect="fade-in">
            <h2 class="fl-right top-heading-lv1 -l">TITLE<span class="heading-sub">タイトル</span></h2>
            <div class="fl-left top-career-img" data-effect="visible"><span class="top-career-img-wrap"><img src="/common/images/dummy/dummy_img04.png" alt="" class="pc"><img src="/common/images/dummy/dummy_img02.png" alt="" class="sp"></span></div>
            <p class="fl-right top-career-lead" data-effect="visible">テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。テキスト。</p>
            <div class="fl-right button-block" data-effect="visible">
              <a href="/" class="button -arrow"><span>More</span></a>
            </div>
          </div>
        </div>
      </section>
      <section class="top-section top-faq">
        <div class="content-inner">
          <div class="top-faq-inner">
            <div class="heading-block">
              <h2 class="top-heading-lv1 -l">FAQ<span class="heading-sub">よくある質問</span></h2>
              <p class="top-faq-lead">リードテキスト。リードテキスト。リードテキスト。リードテキスト。リードテキスト。リードテキスト。リードテキスト。リードテキスト。</p>
            </div>
            <div class="faq">
              <dl class="faq-box js-toggle">
                <dt class="faq-box-question js-toggle-label"><span class="icon">Q</span>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</dt>
                <dd class="faq-box-answer js-toggle-cont"><span class="icon">A</span>
                  <div class="faq-box-answer-inner">
                    <p>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
                  </div>
                </dd>
              </dl>
              <dl class="faq-box js-toggle">
                <dt class="faq-box-question js-toggle-label"><span class="icon">Q</span>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</dt>
                <dd class="faq-box-answer js-toggle-cont"><span class="icon">A</span>
                  <div class="faq-box-answer-inner">
                    <p>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。<br>
											ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
                  </div>
                </dd>
              </dl>
              <dl class="faq-box js-toggle">
                <dt class="faq-box-question js-toggle-label"><span class="icon">Q</span>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</dt>
                <dd class="faq-box-answer js-toggle-cont"><span class="icon">A</span>
                  <div class="faq-box-answer-inner">
                    <p>ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。<br>
											ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。ダミーテキスト。</p>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="button-block">
              <a href="/recruit/faq/" class="button -lg -arrow"><span>More</span></a>
            </div>
          </div>
        </div>
      </section>
    </div>
	</main>
	<!-- /.main -->
<%- include('./common/include/_footer', { page }) %>
<%- include('./common/include/_structured-data', { page }) %>
