// theme color
$color-main: #111111;
$color-main-orange: #fcca53;

// link color
$color-link-base: $color-main;

// dark color
$color-dark: #111111;

// light color
$color-light: #ffffff;

// gray color
$color-gray: #cccccc;
$color-gray02: #aaaaaa;
$color-gray-light: #f8f8f8;

// text color
$color-text-base: $color-main;

// bg color
$color-bg01: #f5f5f5;
$color-bg02: #fcca53;
$color-bg03: #f8981d;
$color-bg04: #363636;
$color-bg05: #ffeede;

// text accent
$color-accent01: #ff8811;

// sex color
$color-sex-female: #f1577b;
$color-sex-male: #399cd1;

// theme color
$color-main: #111111;
$color-main-orange: #fcca53;

// link color
$color-link-base: $color-main;

// dark color
$color-dark: #111111;

// light color
$color-light: #ffffff;

// gray color
$color-gray: #cccccc;
$color-gray02: #aaaaaa;
$color-gray-light: #f8f8f8;

// text color
$color-text-base: $color-main;

// bg color
$color-bg01: #f5f5f5;
$color-bg02: #fcca53;
$color-bg03: #f8981d;
$color-bg04: #363636;
$color-bg05: #ffeede;

// text accent
$color-accent01: #ff8811;

// sex color
$color-sex-female: #f1577b;
$color-sex-male: #399cd1;

//partner color
$color-partner-main: #cbffdc;
$color-partner-bg01: #cbffdc;
$color-partner-bg02: #5de66b;
$color-partner-accent01: #64de80;

